

.chat-page-background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $light-primary-color;
    z-index: 0;
    background-image: url('../assets/svg/chat-page-background.svg'); 
}
.load-more {
    @extend  .relative-position
}
.messages-list {
    @extend .relative-position
}
.chat-page-header-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    &>.chat-page-header-icons,  &>.chat-page-header-info {
        display: flex;  
        align-items: center;
        justify-content: space-between; 
    }
    &>.chat-page-header-icons{
        width: 30%;  
    }
    &>.chat-page-header-info{
        width: 35%;  
    }
}


