
@mixin icon ($url) {
    background-image: url($url); 
    background-repeat: no-repeat;
    background-position: center;
};  
.search-icon {
    @include icon("../assets/svg/search-icon.svg"); 
      width: 17.35px;
      height: 18px;
}
.chat-icon {
    @include icon("../assets/svg/chat-icon.svg"); 
      width:  24px;
      height: 26px;
      display: block;
      cursor: pointer;    
      
}

.contacts-icon {
    @include icon("../assets/svg/contacts-icon.svg"); 
      width: 24px;
      height: 24px;
      display: block;
      cursor: pointer;
      
}
.settings-icon {
    @include icon("../assets/svg/settings-icon.svg"); 
      width: 22px;
      height: 23.28px;
      display: block;
      cursor: pointer;
      
}

.new-chat-icon {
  @include icon("../assets/svg/new-chat-icon.svg"); 
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;  
}
.arrow-back-outline-icon {
  @include icon("../assets/svg/arrow-back-outline-icon.svg"); 
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;  
}


.call-icon {
  @include icon("../assets/svg/call-icon.svg"); 
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;  
}
.camera-icon {
  @include icon("../assets/svg/camera-icon.svg"); 

    width: 25px;
    height: 25px;
    display: flex;
 
    cursor: pointer;  
}

.mobile-hamburger-menu-icon {
  @include icon("../assets/svg/mobile-hamburger-menu-icon.svg"); 
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;  
}
.attachment-icon {
  @include icon("../assets/svg/attachment-icon.svg"); 
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;  
}

.attachment-icon {
  @include icon("../assets/svg/attachment-icon.svg"); 
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;  
}

.send-icon {
  @include icon("../assets/svg/send-icon.svg"); 
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;  
}

.smile-emo-icon {
  @include icon("../assets/svg/smile-emo-icon.svg"); 
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;  
}

.video-icon {
  @include icon("../assets/svg/video-icon.svg"); 
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;  
}







