
@mixin icon ($url) {
    background-image: url($url); 
    background-repeat: no-repeat;
};  
.search-icon {
    @include icon("../assets/svg/search-icon.svg"); 
      width: 17.35px;
      height: 18px;
}
.chat-icon {
    @include icon("../assets/svg/chat-icon.svg"); 
      width:  24px;
      height: 26px;
      display: block;
      cursor: pointer;    
      
}

.contacts-icon {
    @include icon("../assets/svg/contacts-icon.svg"); 
      width: 24px;
      height: 24px;
      display: block;
      cursor: pointer;
      
}
.settings-icon {
    @include icon("../assets/svg/settings-icon.svg"); 
      width: 22px;
      height: 23.28px;
      display: block;
      cursor: pointer;
      
}

.new-chat {
  @include icon("../assets/svg/new-chat.svg"); 
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;  
}